html,
body {
    font-family: 'helvetica';
    margin: 0;
    padding: 0;
    text-align: center;
}

.jumbotron {}


/*========================================================                        
                        MAIN CSS

========================================================*/
